//Mixins
@import 'modules/mixins';

//Variables
@import 'modules/vars';

//Components
@import 'modules/form';
@import 'modules/header';
@import 'modules/intro';
@import 'modules/projects';
@import 'modules/social-nav';
@import 'modules/footer';

body {
    font-family: $primary-font;
    font-weight: 300;
}

.container-fluid {
    padding: 0 !important;
    position: relative;
    overflow-x: hidden;
}

// Set Global Variables
h1, h2,  h3, h4, h5, h6 {
    @include primaryTitle;
}

strong {
    font-family: JetBrains Medium, monospace;
    font-weight: 600;
}

body {
    background-color: $light-brown;
}

body, p, span, a, label, input, button {
    @include baseFont;
}

body {
    &::-webkit-scrollbar {
        width: 20px;
        background-color: $dark-brown;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $light-brown;
        border-radius: 20px;
        box-shadow: inset 0 0 7px $dark-brown;
    }
}