//Mixins
@import 'modules/mixins';

//Variables
@import 'modules/vars';

//Components
@import 'modules/form';
@import 'modules/header';
@import 'modules/intro';
@import 'modules/projects';
@import 'modules/social-nav';
@import 'modules/footer';

body {
    font-family: $primary-font;
    font-weight: 300;
}

.container-fluid {
    padding: 0 !important;
    position: relative;
    overflow-x: hidden;
}