.footer {
    padding: $section-space-mobile 0;

    @media (min-width: $medium) {
        padding: $section-space;
    }
    
    .list-group {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}