// Form
div.wpforms-container-full {
	margin: $section-space-mobile 0;

	@media (min-width: $medium){
		margin: 0;
	}

	.wpforms-form {
		.wpforms-title {
			@include primaryTitle;
			margin-bottom: 48px;
			line-height: 1;
			max-width: 11ch;
		}

		.wpforms-field-container {
			.wpforms-field {
				display: flex;
				flex-direction: column-reverse;
				position: relative;
				padding: 10px 0;
			}

			.wpforms-field-label {
				margin-top: 10px;
				margin-bottom: 0;
			}

			input[type=text],
			input[type=email],
			textarea {
				background-color: unset;
				border-top: none;
				border-left: none;
				border-right: none;
				border-color: $dark-brown;
				border-radius: 0;
				border-width: 3px;
			}
		}

		.wpforms-submit-container {
			margin-top: 24px;

			button[type=submit] {
				@include formButton();
			}
		}
	}
}