.page-title {
	display: flex;
	flex-direction: column;
	
	.title {
		@include primaryTitle;
	}
	
	.subtext {
		position: relative;
		width: 100%;
		padding-bottom: $section-space;
		margin-bottom: $section-space;
		font-size: 48px;

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			border-bottom: 3px solid $dark-brown;
			width: 75%;
		}
	}
	
	.contact-button {
		width: fit-content;
		padding: 40px;
		font-size: 24px;
		color: $light-brown;
		text-decoration: none;
		background-color: $dark-brown;
	}
}
