.page-title {
	display: flex;
	flex-direction: column;
	padding-top: $section-space-mobile;
	
	@media (min-width: $medium) {
		padding-top: $section-space;
	}
	
	.title {
		@include primaryTitle;
	}
	
	.subtext {
		position: relative;
		width: 100%;
		padding-bottom: $section-space-mobile;
		margin-bottom: $section-space-mobile;
		font-size: 24px;

		@media (min-width: $medium) {
			font-size: 48px;
			padding-bottom: $section-space;
			margin-bottom: $section-space;
		}

		&::after {
			position: absolute;
			bottom: 0;
			left: 0;
			content: '';
			border-bottom: 3px solid $dark-brown;
			width: 75%;
		}
	}
	
	.contact-button {
		@include button();
	}
}
