.header {
    position: sticky;
    width: fit-content;
    height: 100%;
    z-index: 2;
    right: 20px;
    top: 10px;
    float: right;
    vertical-align: middle;

    .navbar {
        flex-direction: column;
    }

    .navbar-collapse {
        position: absolute;
        top: 50px
    }
}

.social-list {
    .list-group-item {
        border: none;
        border-radius: 0;
        background-color: $light-brown;

        &:hover,
        &:focus {
            i {
                @include scaleUp();
            }
        }
    }
}