// Colours
$dark-brown: #4d473e;
$light-brown: #f8ebd5;

// Breakpoints
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1400px;

// Spacing
$small-space: 32px;
$section-space-mobile: 60px;
$section-space: 96px;
$xl-space: 150px;

// Fonts
@font-face {
    font-family: "JetBrains";
    src: url("./fonts/JetBrainsMono-Light.ttf") format('ttf');
}

@font-face {
    font-family: "JetBrains Medium";
    src: url("./fonts/JetBrainsMono-Medium.ttf") format('ttf');
}

$primary-font: JetBrains, monospace;
$primary-bold: JetBrains Medium, monospace;
$heading-font: Playfair Display, serif;