@font-face {
  font-family: "JetBrains";
  src: url("./fonts/JetBrainsMono-Light.ttf") format("ttf");
}
@font-face {
  font-family: "JetBrains Medium";
  src: url("./fonts/JetBrainsMono-Medium.ttf") format("ttf");
}
div.wpforms-container-full {
  margin: 60px 0;
}
@media (min-width: 768px) {
  div.wpforms-container-full {
    margin: 0;
  }
}
div.wpforms-container-full .wpforms-form .wpforms-title {
  font-size: 48px !important;
  font-family: Playfair Display, serif !important;
  font-weight: 900 !important;
  font-style: italic;
  color: #4d473e;
  margin-bottom: 48px;
  line-height: 1;
  max-width: 11ch;
}
@media (min-width: 768px) {
  div.wpforms-container-full .wpforms-form .wpforms-title {
    font-size: 96px !important;
  }
}
div.wpforms-container-full .wpforms-form .wpforms-field-container .wpforms-field {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding: 10px 0;
}
div.wpforms-container-full .wpforms-form .wpforms-field-container .wpforms-field-label {
  margin-top: 10px;
  margin-bottom: 0;
}
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type=text],
div.wpforms-container-full .wpforms-form .wpforms-field-container input[type=email],
div.wpforms-container-full .wpforms-form .wpforms-field-container textarea {
  background-color: unset;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #4d473e;
  border-radius: 0;
}
div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  margin-top: 24px;
}
div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type=submit] {
  width: fit-content;
  padding: 20px 25px;
  font-size: 18px;
  color: #f8ebd5;
  text-decoration: none;
  background-color: #4d473e;
  border: 1px solid #4d473e;
}
div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type=submit]:hover, div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type=submit]:focus {
  color: #4d473e;
  background-color: #f8ebd5;
}
div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type=submit]:hover, div.wpforms-container-full .wpforms-form .wpforms-submit-container button[type=submit]:focus {
  border: 1px solid #4d473e;
}

.page-title {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
@media (min-width: 768px) {
  .page-title {
    padding-top: 96px;
  }
}
.page-title .title {
  font-size: 48px !important;
  font-family: Playfair Display, serif !important;
  font-weight: 900 !important;
  font-style: italic;
  color: #4d473e;
}
@media (min-width: 768px) {
  .page-title .title {
    font-size: 96px !important;
  }
}
.page-title .subtext {
  position: relative;
  width: 100%;
  padding-bottom: 60px;
  margin-bottom: 60px;
  font-size: 24px;
}
@media (min-width: 768px) {
  .page-title .subtext {
    font-size: 48px;
    padding-bottom: 96px;
    margin-bottom: 96px;
  }
}
.page-title .subtext::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 3px solid #4d473e;
  width: 75%;
}
.page-title .contact-button {
  width: fit-content;
  padding: 20px 25px;
  font-size: 18px;
  color: #f8ebd5;
  text-decoration: none;
  background-color: #4d473e;
  border: 1px solid #4d473e;
}
.page-title .contact-button:hover, .page-title .contact-button:focus {
  color: #4d473e;
  background-color: #f8ebd5;
}

.intro {
  display: flex;
  padding: 60px 0;
  position: relative;
  width: 80%;
}
@media (min-width: 768px) {
  .intro {
    margin-top: 150px !important;
    padding: 96px 0 0 0;
    max-width: 800px;
  }
}
.intro::before {
  content: "Hello";
  font-family: Playfair Display;
  font-size: 200px;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  opacity: 20%;
  left: -10vw;
  top: -25%;
  z-index: -1;
  display: none;
}
@media (min-width: 768px) {
  .intro::before {
    display: block;
    font-size: 400px;
    left: -20vw;
    top: -50%;
  }
}
.intro .intro-container {
  border: 3px solid #4d473e;
  padding: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .intro .intro-container {
    padding: 96px;
  }
}
.intro .intro-paragraph {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .projects-container {
    margin: 150px 0;
  }
}
.projects-container .col {
  position: relative;
  height: fit-content;
}
.projects-container .col .project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/placeholder.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.projects-container .col .project-image .overlay {
  width: 100%;
  height: 100%;
  opacity: 80%;
}
.projects-container .col .project-link-wrapper {
  position: relative;
}
.projects-container .col .project-link-wrapper .project-link {
  height: 100%;
  width: 100%;
  padding: 96px;
  display: block;
  text-align: center;
}
.projects-container .col .project-link-wrapper .title {
  font-family: Playfair Display, serif !important;
  font-size: 24px;
  font-weight: 900 !important;
  font-style: italic;
  color: #4d473e;
  margin-bottom: 0;
}
.projects-container .first-row .col:nth-child(odd) .project-image .overlay {
  background-color: #f8ebd5;
}
.projects-container .first-row .col:nth-child(even) .project-image .overlay {
  background-color: #4d473e;
}
.projects-container .first-row .col:nth-child(even) .project-link,
.projects-container .first-row .col:nth-child(even) .title {
  color: #f8ebd5;
}
.projects-container .second-row .col:nth-child(odd) .project-image .overlay {
  background-color: #f8ebd5;
}
.projects-container .second-row .col:nth-child(odd) .project-link,
.projects-container .second-row .col:nth-child(odd) .title {
  color: #4d473e;
}
.projects-container .second-row .col:nth-child(even) .project-image .overlay {
  background-color: #4d473e;
}
.projects-container .second-row .col:nth-child(even) .project-link,
.projects-container .second-row .col:nth-child(even) .title {
  color: #f8ebd5;
}
@media (min-width: 992px) {
  .projects-container .second-row .col:nth-child(odd) .project-image .overlay {
    background-color: #4d473e;
  }
  .projects-container .second-row .col:nth-child(odd) .project-link,
  .projects-container .second-row .col:nth-child(odd) .title {
    color: #f8ebd5;
  }
  .projects-container .second-row .col:nth-child(even) .project-image .overlay {
    background-color: #f8ebd5;
  }
}

.header {
  position: fixed;
  width: fit-content;
  z-index: 2;
  right: 20px;
  top: 60px;
  float: right;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .header {
    top: 96px;
  }
}
.header .navbar {
  flex-direction: column;
  padding: 0;
}
.header .navbar-toggler {
  background-color: #f8ebd5;
  border: 1px solid #f8ebd5;
  padding: 0.75rem 1.25rem;
}
.header .navbar-toggler:hover, .header .navbar-toggler:focus {
  background: #4d473e;
  outline: none;
}
.header .navbar-toggler:hover i, .header .navbar-toggler:focus i {
  color: #f8ebd5;
}
.header .navbar-collapse {
  position: absolute;
  top: 50px;
  width: 100%;
}

.social-list .list-group-item {
  border: none;
  border-radius: 0;
  text-align: center;
  background-color: #f8ebd5;
}
.social-list .list-group-item:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}
.social-list .list-group-item:last-child {
  border-radius: 0 0 0.25rem 0.25rem;
}
.social-list .list-group-item:hover i, .social-list .list-group-item:focus i {
  transform: scale(1.5);
}

.footer {
  padding: 60px 0;
}
@media (min-width: 768px) {
  .footer {
    padding: 96px;
  }
}
.footer .list-group {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  font-family: JetBrains, monospace;
  font-weight: 300;
}

.container-fluid {
  padding: 0 !important;
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 48px !important;
  font-family: Playfair Display, serif !important;
  font-weight: 900 !important;
  font-style: italic;
  color: #4d473e;
}
@media (min-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 96px !important;
  }
}

strong {
  font-family: JetBrains Medium, monospace;
  font-weight: 600;
}

body {
  background-color: #f8ebd5;
}

body, p, span, a, label, input, button {
  font-size: 16px;
  font-family: JetBrains, monospace !important;
  font-weight: 300;
  color: #4d473e;
}

a {
  color: #4d473e !important;
}
a:hover, a:focus {
  color: #4d473e !important;
}

/*# sourceMappingURL=main.css.map */
